%html
  %head
    %title Krypto

  %body
    =yield

    %link{:href => "/css/krypto.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/js/jquery-1.11.2.min.js", :type => "text/javascript"}
    %script{:src => "/js/krypto.js",            :type => "text/javascript"}
