- @hand.krypto_cards.each do |card|
  %div.krypto-card= card

%div.krypto-equals =

%div.krypto-card= @hand.target_card

%a{:href => @new_game_url}
  %button New Game
%a{:href => @solve_url}
  %button Solve Game
